* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.center-auto {
  margin: 0 auto;
}

.red {
  color: #f42;
}

.d-flex {
  display: flex;
}

.hidden {
  display: none;
}

.width-100 {
  width: 100%;
}

.width-90 {
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.page-header {
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

.left {
  width: 106px;
  height: 48px;
  background-image: url(../images&svgs/TMZ-logo.png);
  background-size: cover;
  background-position: center;
}

.right {
  height: 48px;
}

.right i {
  padding: 20px;
  border-left: 1px solid #ebebeb;
}

.fa-bars {
  color: red;
}

.spacer {
  height: 48px;
  background-color: #fd3;
  text-align: center;
  position: sticky;
  z-index: 10;
  top: 48px;
  font-size: 10px;
  font-weight: 600;
}

.spacer p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
  ================================================
          MAIN ARTICLE
  ================================================
*/

.article-container {
  margin: 0 0.5em;
  position: relative;
  z-index: 1;
}

.article-container * + * {
  margin-top: 0.7em;
}

.banner {
  height: 220px;
  background: url(../images&svgs/pic1.png) center/cover;
}

.banner2 {
  background: url("../images&svgs/boris-chair-gq-796x417.png");
}

.banner3 {
  background: url("../images&svgs/tnw2020-empty_feature_img.jpg");
}

.banner > span {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgb(0, 0, 0));
}

.banner h2,
.banner p {
  font-size: 17px;
  color: white;
  font-weight: 900;
  position: relative;
  margin-left: 0.7rem;
}

.banner p,
.banner a {
  color: rgba(255, 255, 255, 0.65);
  font-size: 12px;
  font-weight: 500;
}

.banner h2 {
  margin-top: 145px;
}

.banner p {
  margin-top: 0.3rem;
}

/* --------------------- LATEST NEWS SECTION ------------- */

.latest-news {
  margin-top: 50px;
}

.latest-news h1 {
  margin: 20px;
}

.news-container {
  flex-wrap: wrap;
}

.news {
  margin-bottom: 12px;
}

.img-div {
  min-width: 75px;
  min-height: 75px;
}

.img-div img {
  display: block;
  width: 75px;
  height: 75px;
}

.details {
  padding: 8px 0 0 12px;
}

.details h2,
.details a,
.details time {
  font-size: 14px;
}

.details h2 {
  margin-bottom: 3px;
}

.details time {
  margin-left: 4px;
}

/* --------------------- LATEST FUNDING ------------- */

.latest-funding {
  margin: 30px auto;
}

.fund-nav__list,
.fund-nav__list * + * {
  margin-top: 11px;
}

.fund-nav__list {
  font-size: 12px;
}

/* --------------------- LATEST FUNDING-CARDS ------------- */

.card {
  margin-top: 20px;
}

.card__title,
.card__subtitle {
  font-size: 16px;
  font-weight: 700;
}

.card__title {
  background: tomato;
  padding: 11px 11px 11px 70px;
}

.card__subtitle {
  font-size: 15px;
  background: rgba(255, 68, 34, 0.1);
  line-height: 20px;
  padding: 0.5rem;
}

.card__subtitle span {
  display: block;
  font-size: 9px;
  font-weight: 200;
  color: hsl(0, 0, 15%);
}

.card__img {
  width: 60px;
  height: 60px;
  margin: 11px;
  float: left;
}

.card__options {
  clear: left;
  padding: 15px;
  background-color: rgba(255, 68, 34, 0.05);
  border-bottom: 2px solid rgba(255, 68, 34, 0.2);
}

.card__options a {
  font-size: 14px;
  display: block;
  line-height: 30px;
}

.card__options i {
  margin-right: 5px;
}

.card__footer {
  font-size: 10px;
  line-height: 19px;
  padding: 15px;
  background-color: rgba(255, 68, 34, 0.05);
}

/* ----------------------- HARD FORK SECTION --------------- */

.news-sections h1 {
  font-family: "Russo One", Helvetica, sans-serif;
}

.article__banner {
  height: 280px;
}

.article__banner h1 {
  margin: 150px 0 0 0.7rem;
  color: #fff;
  font-size: 11px;
}

.article__banner h2 {
  margin-top: 5px;
  font-size: 20px;
}

.article__banner p {
  margin-top: 0.5rem;
}

.first__hard-fork__article {
  background: url(../images&svgs/unicorn.png) center/cover;
  margin-bottom: 2px;
}

.articles-ul {
  margin-top: 18px;
}

.featured__article {
  background-color: rgba(255, 68, 34, 0.06);
  margin-bottom: 10px;
}

.featured__article header {
  padding: 8px;
}

.featured__article h4 {
  font-weight: 100;
  font-size: 13px;
}

.featured__article h5 {
  font-weight: 700;
}

.news-sections__anchor {
  background-image: url(../images&svgs/bitcoin_today-header_bitcoin_today.jpg);
  background-size: cover;
  background-position: center;
  display: block;
  min-width: 96px;
  min-height: 96px;
}

.normal-li {
  border-bottom: 1px solid #aaa;
}

.normal-li a {
  color: #aaa;
  font-size: 11px;
}

.normal-li a::before {
  content: "\2022";
  color: #f42;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
